<% include ../partials/header %>

<div class="container">
    <h1 class="form-header">Add New Comment to <%= campground.name %></h1>
    <div class="form-box">
         <form action="/campgrounds/<%=campground._id%>/comment" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="content" name="comment[content]" required>
            </div>
            <div class="form-group">
                <button class="form-control btn index-camp-btn">Submit</button>
            </div>
        </form>   
        <a class="form-back-btn" href="/campgrounds/<%=campground._id%>"><i class="fas fa-chevron-left"></i> Go Back</a> 
    </div>
</div>

<% include ../partials/footer %>