<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1 class="t-shadow">Welcome to YelpCamp</h1>
        <p class="t-shadow">View our hand-picked campgrounds from all over the world</p>
        
        <p class="mt-5">
            <a class="btn index-camp-btn" href="/campgrounds/new">Add New Camp</a>
        </p>
    </header>
    
    <div class="row">
       <% campgrounds.forEach(function(camp){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                     <img class="card-img-top" src="<%= camp.image %>">
                     <div class="card-body text-center">
                         <h4 class="card-text"><%= camp.name %></h4>
                         <a href="/campgrounds/<%= camp._id %>" class="btn index-camp-btn mt-3">More Info</a>
                     </div>
                </div>  
            </div>
        <% }) %> 
    </div>
    
</div>

<% include ../partials/footer %>